hl {
/*  background: none;*/
  line-height: 1.0;
  font-family: Monaco;
  background-color: #959595;
}

nhl {
/*  background: none;*/
  line-height: 1.0;
  font-family: Monaco;
  background-color: #ffffff;
}

/*.highlighted::before {*/
/*  content: "";*/
/*  display: block;*/
/*  height: 100%;*/
/*  background: linear-gradient(*/
/*  rgba(240, 240, 240, 0.5) 50%,*/
/*  transparent 50%*/
/*  );*/
/*  background-size: 100% 2em;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: 0;*/
/*  pointer-events: none;*/
/*}*/

/*highlighted hh:nth-child(odd) {*/
/*  background-color: #6a6666;*/
/*}*/

/*highlighted hh:nth-child(even) {*/
/*  background-color: #cc1818;*/
/*}*/

/*.highlighted {*/
/*  background: none;*/
/*  line-height: 1.0;*/
/*  font-family: Monaco;*/
/*}*/

/*.highlighted > code {*/
/*  display: block;*/
/*}*/

/*.highlighted > code_span {*/
/*  position: relative;*/
/*}*/

/*.highlighted > code_span:nth-child(odd) {*/
/*  background-color: #6a6666;*/
/*}*/

/*.highlighted > code_span:nth-child(even) {*/
/*  background-color: #b53b3b;*/
/*}*/